{% extends 'resume.html' %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Rita London</span>
        <span class="d-none d-lg-block">
            <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../static/DSC_0166.JPG" alt="">
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#education">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#awards">Awards</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
        <div class="w-100">
            <h1 class="mb-0">Augustine
                <span class="text-primary">Rita London</span>
            </h1>
            <div class="subheading mb-5">22 Myke Peters Street · Omoku, R.S. Nigeria · (055) 936-5073 ·
                <a href="mailto:augustineritalondon@gmail.com">augustineritalondon@email.com</a>
            </div>
            <p class="lead mb-5">A computer scientist experienced in web development using python, javascript, 
                etc. and graphic designing using the adobe suite with a well developed and successful leadership style acquired in education. 
                A confident and versatile individual who is used to working as part of a team. 
                Skillful at decision making and problem solving. A natural communicator at all levels in both written and oral work and has
                a proven record of commitment. Seeking a technical position in an aggressive organization. </p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/rita-london-840361147/">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/augustineritalondon">
                    <i class="fab fa-github"></i>
                </a>
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
        <div class="w-100">
            <h2 class="mb-5">Experience</h2>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">Asst. Secretary/Graphic Designer (Intern)</h3>
                    <div class="subheading mb-3">CLE Engineering Consult Nigeria Limited.</div>
                    <p>Reponsibilities
                        <ul>
                            <li>Answering calls, taking messages and handling correspondence</li>
                            <li>Maintaining diaries and arranging appointments.</li>
                            <li>Typing, preparing and collating reports.</li>
                            <li>Prepares work to be done by gathering information, plans concept by studying information and materials and designing rough work.</li>
                        </ul>.</p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">2017</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">Trainer and Graphic Designer (Volunteer Trainee)</h3>
                    <div class="subheading mb-3">Favour Computer Centre, Omoku, Rivers State, Nigeria.</div>
                    <p>Responsibilities
                        <ul>
                            <li>Training on Microsoft word, power point and excel.</li>
                            <li>Training on Typing and Graphic Design using Corel Draw.</li>
                            <li>Managing of typed work, photocopies, graphic designs.</li>
                            <li>Team leadership.</li>
                        </ul>
                    </p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">2013 - 2015</span>
                </div>
            </div>

            
        </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
        <div class="w-100">
            <h2 class="mb-5">Education</h2>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                    <h3 class="mb-0">All Nations University College</h3>
                    <div class="subheading mb-3">Bachelor of Science</div>
                    <div>Computer Science - Web Programming</div>
                    <!-- <p>GPA: 3.61</p> -->
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">2015 - 2019</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
                <div class="resume-content">
                    <h3 class="mb-0">Provil Secondary School </h3>
                    <div class="subheading mb-3">West African Examination Council WAEC</div>
                    <!-- <p>GPA: 3.56</p> -->
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">2009 - 2014</span>
                </div>
            </div>

        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
        <div class="w-100">
            <h2 class="mb-5">Skills</h2>

            <div class="subheading mb-3">Programming Languages &amp; Tools</div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item">
                    <i class="fab fa-html5"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-css3-alt"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-js-square"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-angular"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-npm"></i>
                </li>
            </ul>

            <div class="subheading mb-3">Personal Attributes</div>
            <ul class="fa-ul mb-0">
                <li>
                    <i class="fa-li fa fa-check"></i>
                    A young disciplined lady of decent background, friendly, sociable, resourceful and industrious.</li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Possess good communication and interpersonal skills.</li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Ability to work as a team to achieve set goals.</li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Working profficiently with windows(os), ubuntu, microsoft utilities.</li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Profficiency in Web Developer using HTML, CSS, JS(Javascript) and Python.</li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Profficiency Graphic Designing using Adobe suite, corel draw.</li>
            </ul>
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
        <div class="w-100">
            <h2 class="mb-5">Interests</h2>
            <p>Apart from being a web developer, I enjoy doing other jobs like painting and graphic designs. I enjoy mountain biking, free
                climbing, swimming and visiting the library.</p>
            <p class="mb-0">When indoors, I follow a number of sci-fi, comedy and fantasy genre movies and television
                shows, I am an aspiring makeup artist, and I spend a large amount of my free time exploring the latest technology
                advancements in the front-end web development world.</p>
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
        <div class="w-100">
            <h2 class="mb-5">Awards &amp; Certifications</h2>
            <ul class="fa-ul mb-0">
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i>
                    United Nations Development Programme 2018r</li>
                <li>
                    <i class="fa-li fa fa-trophy text-warning"></i>
                    Django Girls Koforidua workshop 2017</li>
            </ul>
        </div>
    </section>

</div>
{% endblock content %}